$MainBlueBrand : #16ABF8;
$MainTextColorBrand:#111111;
$MainVeryHighBrand:#ED4C5C;
$MainHighBrand:#F8A541;
$MainNormalBrand:#00A790;
$MainLowBrand:#428BC1;
$MainVeryLowBrand:#8942C1;

@mixin google-font($family) {
    @import url("http://fonts.googleapis.com/css?family=#{$family}");
  }
  
@mixin font-small {
    font-size: 12px;
}

@mixin font-semi-medium {
    font-size: 18px !important;
}
@mixin font-medium {
    font-size: 24px !important;
}

@mixin font-semi-large {
    font-size: 32px !important;
}
@mixin font-large {
    font-size: 36px !important;
}