@import "./variabel";
@import "~bootstrap/scss/bootstrap.scss";
@include google-font(
  "Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,900&display=swap"
);

body {
  font-family: Poppins, Times, serif !important;
  background-color: #E5E5E5 !important;
}
.container {
  max-width: 1000px !important;
}
.navbar {
  height: 105px;
  background-color: $MainBlueBrand !important;
  color: white;
  h2[data-cy="header-title"] {
    font-weight: 700;
    @include font-medium;
  }
}

h1[data-cy="activity-title"], h1[data-cy="todo-title"] {
  font-weight: 700 !important;
  @include font-semi-large;
  margin: 0;
}

[data-cy="activity-item-delete-button"],[data-cy="todo-item-delete-button"]  {
  cursor: pointer;
}

button[data-cy="activity-add-button"] {
  @include font-semi-medium;
  font-weight: 600;
  width: 159px;
  height: 54px;
  background: $MainBlueBrand !important;
  border-radius: 45px;
}

div[data-cy="activity-item"] {
  width: 235px;
  height: 234px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 22px 27px;
  h4[data-cy="activity-item-title"] {
    font-weight: 700 !important;
    @include font-semi-medium;
  }
}

.activity-body {
  cursor: pointer;
    height: 158px;
}
.btn-sort {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  height: 54px;
  width: 54px;
  margin-right: 18px;
}
.card-footer {
  z-index: 2;
  bottom: 25px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 0;
  width: 100%;
  padding: 0;
  font-size: 14px;
line-height: 21px;
}

.icon-sort {
  width: 24px;
    height: 24px;
}

.detail-content .content-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 27px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}

.form-check {
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.label-indicator {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin: 0 19px 0 7px;
}

.very-high {
  background-color: $MainVeryHighBrand;
}
.high {
  background-color: $MainHighBrand;
}
.normal {
  background-color: $MainNormalBrand;
}
.low {
  background-color: $MainLowBrand;
}
.very-low {
  background-color: $MainVeryLowBrand;
}

.modal-add-activity .modal-content .modal-body {
  padding: 38px 41px 38px 30px !important;

}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-content .modal-header {
  height: 70px;
  padding: 24px 30px;
}
.modal-add-activity .modal-content .modal-body label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 9px;
  border-radius: 6px;
}
.modal-add-activity .modal-content .modal-body .form-control {
  height: 52px;
  margin-bottom: 26px;
}

.modal-add-activity .modal-content .modal-header .h4, .modal-add-activity .modal-content .modal-header h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.dropdown-toggle,.dropdown {
  width: 205px !important;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}